@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
scroll-behavior: smooth;
}
header{
    position: fixed;
    top:0%;
    left: 0%;
   
    padding:20px 10px;
    width: 100%;
    z-index:1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0,8s;
}
.logo img 
{
width:8%;
position: absolute;
top: 28%;
left: 5%;

}

.navbar{
    display: flex;
    position: relative;
  
}

.navbar li{
    list-style: none;

}
.navbar a{
   color: white;
    text-decoration: none;
    margin-left:30px;
     font-weight: 700;  
     font-size: 17px;
    
}
header .navbar li a:hover{   
    color: beige;
    border: 1px solid #C83B31;
    border-radius: 40%;
    padding: 5px;
    background:#333333;
    

}
header.sticky{
    background:beige;
    height:60px;
    padding: 10px 10px;

}

header.sticky .navbar li a{
    color: #C83B31;
}
header.sticky li a:hover{
    color: beige;
    border-bottom: 2px solid #C83B31;
}

.baniere{
background:linear-gradient(rgba(0,0,0,0.5),#C83B31), url(./image/Banniere.jpg) center/cover no-repeat;
height: 100vh;
}


.baniere-text{
    text-align: center;
    color: #fff;
    padding-top: 270px;
}

.baniere-text h1{
    font-size: 130px;
    font-family: 'Lobster', cursive;
}

.baniere-text p{
    font-size: 20px;
    font-style: italic;
}

.baniere_btn{
    text-align: center;
    margin-top: 20px;
}

.baniere_btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.6s ease-in;
}

.baniere_btn a span{
    width: 0;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.6s ease-in;
}


.baniere_btn a:hover span{
    width: 100%;
}
.baniere_btn a:hover{
    color: #C83B31;
}




.titre-text{
    padding-bottom: 70px;
    padding-top: 70px;
    text-align: center;
}
.titre-text p{
    margin: auto;
    font-size: 20px;
    color: #C83B31;
    font-weight: bold;
    opacity: 0.5;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.titre-text p::after{
    content: '';
    background: linear-gradient(#C83B31,#fff);
    height: 40px;
    width: 60px;
    position: absolute;
    top: -20px;
    left: 0;
    z-index:-1;
    transform: rotate(-10geg);
    border-bottom-right-radius:40px ;
    border-top-left-radius: 40px;

}
.titre-text{
    font-size: 30px;
    margin-top: -10px;
}
@media screen and (max-width:770px) {
    .baniere-text h1{
        font-size: 44px;
       
    }
    .baniere_btn a{
        display: block;
        margin: 20px auto;

    }
    .baniere{
        height:108vh;
       
    }
}

.propos_boite{
    margin-left: 30px;
    
   
}
.propos_boite h1{
    font-size: 30px;
    color: #C83B31;
    margin-bottom:20px;
}

.propos_boite p{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
    

}
.im-mission{
    background: linear-gradient(rgba(0, 0, 0, 0.5),#C83B31), url(./image/Banniere2.jpg) center/cover no-repeat;
    height:400px;
    width: 30%;
    flex-basis: 35%;
    margin: auto;
    border-radius: 10px;
    position: absolute;
 margin-left:60%;
 margin-top: -23%;
}
@media screen and (max-width:770px){
    .titre-text h1{
        font-size: 35px;
    }
    .propos_boite h1{
        font-size: 20px;
    }
    .propos_boite p{
        font-size:10px;
    }
    .im-mission{
        margin-top:-280px;
        height: 290px;
        
    }
    
}
.description{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}

.mission-text p{
    text-align: initial;
    padding: 0 20px;
}
.service{
    width: 100%;
    padding: 70px 0;
    background: #efebc2; 
    margin-top:150px;
   
}
.service .titre-text{
    margin-top: -70px;
}

.service_boite{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service_unique{
    flex-basis: 48%;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
    position: relative;
    color: #fff;
}
.service_unique img{
   height:500px;
  width: 100%;
    border-radius: 8px;
}
.text_sur{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #C83B31);
    
}
 
/*.description{
    width: 80%;
    
    bottom:-30px;
    left: 50%;
    transform: translate(-50%);
transition: 0.6s ease-in;
opacity: 0;
}
.service_unique:hover .description{
    opacity: 1;
    bottom:0px;
}*/
hr{
    background-color: beige;
height: 2px;
border: 0;
margin: 15px auto;
}
.description p{
    font-size: 13px;
 
}
@media screen and (max-width:770px){
    .service_unique{
        flex-basis: 100%;
      margin-bottom: 30px;
    }
    
     .description p{
        font-size: 12px;
     
    }
    
}

.temoignge{
    margin-top: 100px;
    width: 100%;
    padding: 70px 0px;
}
.temoignge .titre-text{
    margin-top: -70px;
}

.temoignagee-boite{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.temoignage-simple{
    flex-basis:40%;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 3px #ad615c;
    cursor: pointer;
    transition: 0.6s ease-in;
    padding: 10px;
    
    
}
.temoignage-simple h3{
    color: #C83B31;
}

.temoignagee-boite p{
    font-size: 14px;
}

.utilisateur{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-right: 10px;
}

.utilisateur img{
    width: 60px;
    margin-right: 10px;
    border-radius: 50%;
}

.info_util .fab{
    margin: 2px;
    font-size: 20px;
    padding-top:10px ;
    
}

.temoignage-simple:hover{
    transform: translateY(-10px);
}

@media screen and (max-width: 770px){
    .temoignage-simple{
        flex-basis: 100%;
        
    }

    
.temoignagee-boite p{
    font-size: 12px;
}

.info_util h4{
    font-size: 12px;
}
.info_util .fab{
    font-size: 16px;
}
}
footer{
    width: 100%;
    background: #EFEBC2;
    bottom: 0;

    
}
.pied-page{
    width:95%;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
   
}

.contactform{
    padding: 0px 20px;
    max-width:350px;
   margin-top:2%;
   
  
}
.contactform .inputboite{
   position: relative;
   width: 100%;
   margin-bottom: 20px;
}

.contactform h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
}
.contactform .inputboite input,
.contactform .inputboite textarea
{width: 100%;
   border: 1px solid #555;
padding: 10px;
color: #111;
outline: none;
font-size: 16px;
font-weight: 300;
resize: none;
}
.contactform .inputboite input[type="submit"]{
    font-size: 1em;
    font-weight: 700;
    color: white;
    background: #C83B31;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    transition: 0.5em;
    max-width: 120px;
    align-items: center;
    justify-content: center;
}
.pied-propo{
 margin-top: 1%;
    font-size: 13px;
    
    margin-left:-10%;
    
}
.pied-avantage{
    margin-top:1%;
    font-size: 13px;
   
    width: 22%;
    margin-left:-6%;
}
.pied-service{
    margin-top:1%;
    font-size: 13px;
    
    width: 22%;
    margin-left:-6%;
}
.pied-d{
    text-align: right;
    margin-left:80%;
  margin-top: -4%;
    
}
.pied-page a{
    text-decoration: none;
    color: #C83B31;
}
.pied-logo img{
    width:10%;
    margin-top:5%;
    margin-left: 2%;
}
@media (max-width: 991px) {
    header, 
    header.sticky{
        padding: 10px 20px;
      
      
    }
    
    header .navbar li{
        margin-left: 0px;
    }
    
    header .navbar li a {
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 300;
    }
    
    .navbar{
        display: none;
    }
   
    
    header .navbar.active{
        width: 100%;
        height: calc(100% -68px);
        position: fixed;
        top: 68px;
        left:0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #ffff;
        align-items: center;
    }
    header .logo img {
        width: 20%;
        
    }
    
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background-image: url(./image/menu.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 30px;
        margin-left:80%;
    }
    
    .menuToggle.active
    {
        background-image: url(./image/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-origin: center;
        
    }
    
    header.sticky .menuToggle{
        filter: invert(1);
        
    }
    .contactform{
        padding: 0px 20px;
        max-width:350px;
       margin-top:15%;
       margin-left:15%;
      
    }
    .pied-propo{
        margin-top: 3%;
           font-size: 13px;
           margin-left:10%;
           
       }
       .pied-avantage{
        margin-top:10%;
        font-size: 13px;
        width:80%;
        margin-left:10%;
    }
    .pied-service{
        margin-top:10%;
        font-size: 13px;
        width: 80%;
        
        margin-left:10%;
    }
    .pied-d{
        text-align: right;
        margin-left:40%;
        margin-top:10%;
      
    }
    footer{
        width: 100%;
        background: #EFEBC2;
        bottom: 0;
    height: auto;
        
    }
    .pied-logo img{
        width:25%;
        margin-top:10%;
        margin-left:40%;
    }
    
}